<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Playlister</title>
  </head>
  <body>
    <h1>Playlister</h1>
    <a href="/artists/index.html">See All of the Artists</a>
    <a href="/genres/index.html">See All of the Genres</a>
    <a href="/songs/index.html">See All of the Songs</a>

    2
  </body>
</html>
<!-- The main page of playlister -->